<div class="products__page__container">

<div>
    <form id="filterForm" action="/api/products/filtered" method="post">
      <div>
        <label for="priceFilter">Filtrar por precio</label>
        <select name="priceFilter" id="priceFilter">
          <option value="0">Sin filtro</option>
          <option value="1">Hasta $12.000</option>
          <option value="2">Hasta $15.000</option>
          <option value="3">Hasta $18.000</option>
        </select>
      </div>
      <div>
        <button type="submit" class="px-2 py-1 bg-red-600 hover:bg-amber-600 text-center text-sm text-white ">Aplicar filtros</button>
      </div>
  </form>
</div>

<div class="products__container">

    {{#each products}}
      <div class="w-72 bg-white drop-shadow-md rounded-lg">
        <img class="object-cover rounded-tl-lg rounded-tr-lg products__img"
            src={{this.foto}} />
        <div class="px-5 py-3 space-y-2">
            <h3 class="text-lg">{{this.nombre}}</h3>
            <p class="text-md py-0.5">{{this.descripcion}}</p>
            <p class="space-x-2">
                <span class="text-2xl font-semibold">$ {{this.precio}}</span>
                <span class="text-sm text-gray-500">Stock: {{this.stock}}</span>
            </p>
            <div class="flex justify-between items-center pt-3 pb-2">
                <form id="add-to-cart-form" method="post" action="/api/carts/addProduct">
                    <input type="text" name={{this.codigo}} value="1" style="visibility: hidden">
                    <button type="submit" class="px-4 py-2 bg-red-600 hover:bg-amber-600 text-center text-sm text-white rounded duration-300">Agregar al carrito</button>
                </form>
                
            </div>
        </div>
    </div>
    {{/each}}
</div>
</div>
