<div class="profile__container">
    <img class="profile__img" src="{{user.avatarUrl}}" alt="profile_img"/>
    <p class="profile__text--label">Usuario / Email:</p>
    <p class="profile__text">{{user.email}}</p>
    <p class="profile__text--label">Nombre:</p>
    <p class="profile__text"> {{user.name}}</p>
    <p class="profile__text--label">Dirección:</p>
    <p class="profile__text">{{user.address}}</p>
    <p class="profile__text--label">Edad:</p>
    <p class="profile__text">{{user.age}}</p>
    <p class="profile__text--label">Celular:</p>
    <p class="profile__text">{{user.phoneNumber}}</p>
</div>